# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production

# Build outputs
dist/
build/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# CSV files (except our datasets)
*.csv
!backend/data/sales.csv
!backend/data/truestate_assignment_dataset.csv
!backend/data/demo_dataset.csv

# Vercel
.vercel
